.compose{
    position:fixed;
    right:18px;
    bottom:18px;
    width:50vw;
    border:2px solid #556B2F;
    border-radius:16px;
    background:#fff;
    box-shadow:0 8px 15px rgba(21, 61, 4, 0.872);
    /* box-shadow:0 40px 36px rgba(21, 61, 4, 0.372); */
    display:flex;
    flex-direction:column;
    overflow:hidden;
    z-index:60;
    height: 84vh;
    font-size:14px;
    /* resize:horizontal */
}

.compose.expanded{
    /* inset:60px 60px auto auto; */
    width:50vw;
    height:82vh}

.compose.minimized {
  height: 7.5vh;
  width: 30vw;
  overflow: hidden;
}

.compose.minimized .header {
  cursor: pointer;
}

.compose .header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1vh 2vw;
    background:#F2FFDD;
    border-bottom:2px solid #556B2F}

.compose .title{
    font-weight:700}

.compose .window-controls button{
    width:34px;
    height:30px;
}
.compose .window-controls button:hover{
    background:#a9d460;
    border-radius:10px;
    cursor: pointer;}

.compose .fields{
    display:flex;
    flex-direction:column;
    gap:8px;
    padding:1vh 2vw}

.compose label{
    display:flex;
    align-items:center;
    gap:10px}

.compose input{
    flex:1;
    height:6vh;
    border: none;
    border-bottom:2px solid #556B2F8b;
    padding:0 10px}

.editor{
    height: 90%;
    border:0;
    border-bottom:2px solid #556b2f8b;
    padding:2vh 2vw;
    }

.newmail-toolbar{
    height: 10vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1VH 2VW}

.newmail-toolbar .left{
    display:flex;
    gap:8px;}
.send-btn{
    background:#556B2F;
    color:white;
    border-radius:12px;
    padding:1vh 2vw;
    font-weight: bold;
 }
 .send-btn:hover{
    background:#6452ce;
    cursor: pointer;}
