.grid{
    display:grid;
    grid-template-columns:repeat(3, minmax(20%,1fr));
    column-gap: 1.5vw;
    row-gap: 1.5vw;
    max-height: 80vh;
    overflow-y: scroll;
    width: 100%;
    padding-left: 1.5vw;}

.card {
    position: relative; 
    border-radius:16px;
    padding:3vh;
    background:#fff;
    display:flex;
    flex-direction:column;
    cursor: pointer;
}
.mail-drag-handle-grid {
    position: absolute;    
    cursor: grab;
    color: #888;
    user-select: none;
    font-size: 20px;
    display: flex;
    transition: opacity 0.25s ease, transform 0.25s ease;
    pointer-events: none;}

.card:hover .mail-drag-handle-grid {
    opacity: 1;
    transform: translate(0,5px);
    pointer-events: auto;
}

.mail-drag-handle-grid:active {
    opacity: 0.6;
    cursor: grabbing;
}

.new-status {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.mail-drag-handle-grid + .new-status {
    opacity: 0;
    pointer-events: none;
}
.row-1{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.grid-star-avatar-from{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card:hover .grid-star-avatar-from{
        padding-left: 2vh;

}
.row-2{
    margin-top: 1vh;
}
.row-3{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.card.read{
    background:#EDEDED;
    border: 2px solid #97969b79;
font-weight: 400;}

.card.unread{
    font-weight: 700;
    border: 1px solid #97969b79;
     filter:drop-shadow(0px 3px 3px #564D30);}
.card:hover{
    background:#dbf1b3;
    box-shadow:var(--row-shadow)}

.card .star{ width: 20px;
font-size: medium;}
.card .star.on{
    color:#f5b301;}

.card .avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#e9e1ff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:800}

.card .from{
    font-weight:700;
    text-overflow: ellipsis;
}

.card.read .from{
    font-weight:400;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.card .subject{
    font-size:14px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis}

.card .excerpt{
    color:var(--muted);
    font-weight: 400;
    /* width: 80%; */
     /* white-space:nowrap; */
    overflow:hidden;
    text-overflow:ellipsis
}
.grid-actions{
  opacity: 0;
  color: grey;
  align-items: center;
  pointer-events: auto;
}
.card:hover .grid-actions{
    opacity: 1;
    transition: opacity 0.25s ease;
}
.grid-actions button{
    width: 25px;
    height: 30px;
    cursor: pointer;
    color: grey;       
    background: transparent;
    border: none;
    transition: color 0.15s;}
.grid-actions button:hover{
    color: black;
}
.card .time{
    font-size: 10px;
    color: var(--muted);
    align-items: center;
    /* padding-right: 2px;
    vertical-align:bottom; */
}