.menu{
  margin-left: 1.5vw;}

.sidebar-header{
  display: flex;
  gap: 2vh;
}
.sidebar{
      height: 80%;
  font-size: 14px;
  color: black;
  /* position: sticky; */
  /* background:#fef5cd; */
  box-shadow: 1px 2px 4px #556B2F;
  background-color: #efffd2b7;
  border-left: 4px solid #556B2F;
  
  padding:16px 12px 24px 12px;
  overflow-x:hidden;
  overflow-y: scroll;
  border-radius: 10px;
  scrollbar-width: thin;         
  scrollbar-color: #9d9d9d9d #f5f1ff; 
  /* scroll-behavior: smooth; */
}



.compose-btn {
  width: 100%;
  display:block !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #556B2F;
  color:white;
  border-radius:12px;
  padding:2px 8px;
  font-weight:700;
  margin-bottom:2vh;
  padding: 2vh 0;
}
.compose-btn:hover {
  background: #685508;
  filter: drop-shadow(0px 2px 2px black);
}
.section{
  margin:18px 8px 6px;
  font-weight:700;
  color:black
}

.folder-list{
  list-style:none;
  padding:0;
  margin:0;
}

.folder-item{
  display:flex;
  align-items:center;
  gap:10px;height:42px;
  border-radius:12px;
  padding:0 10px;
  border:2px solid transparent}

.folder-item.active{
  background: #b6d085;
  color: black;
  filter: drop-shadow(0px 1px 2px rgb(101, 134, 23));
}

.folder-item:hover{
  background:#e6e47a}

.folder-item .drag-handle{
  opacity:.8;
  cursor:grab}

.folder-item .icon{
  width:22px;
  text-align:center}

.folder-item .name{
  flex:1}

.folder-item .count{
  background:#eae0ff;
  border-radius:10px;
  padding:2px 8px;
  font-weight:700}

.more{
  margin:12px 8px;
  color :black;
cursor: pointer;}

.pill{
  background:#556B2F;color:white;
  border-radius:12px;padding:2px 8px;
  font-weight:700}

/* .dot{
  width:8px;
  height:8px;
  border-radius:50%;
  background:#556B2F;
  margin:0 6px} */

.labels-head{
  display:flex;
  align-items:center;
  justify-content:space-between}

.labels{
  list-style:none;
  padding:0;
  margin:6px 6px;
  display:flex;
  flex-direction:column;
  gap:6px}

.labels li{
  background:#556B2F36;
  border:1px dashed var(--stroke);
  border-radius:10px;
  padding:6px 10px;
  width:max-content;
  cursor: pointer;}
.labels li:hover{
  background:#dcd6ff;}
