.app-frame{
  display:flex;
  flex-direction:column;
  height:100%;
  background-color: #fcfcf9;
  /* background-color: #EFD473; */
  /* background-image: url("C:/Users/mamth/Downloads/32237069_sl_072622_51930_13.svg"); */
  overflow: hidden;
  scrollbar-width: thin;
}
.app-frame::before{
  background: rgba(255, 255, 255, 0.9);
}
.topbar{
  min-height:12vh;
  display:grid;
  grid-template-columns: 15% 60% 20%;
  column-gap: 2.5vw;
  align-items:center;
    /* background-color: #dbceff; */
  /* border-radius: 10px; */
  /* justify-content:space-between; */
  padding:0.5vw 1.5vw 1vw 1.5vw;
  /* border-bottom:1px solid #cdbbff; */
}
.brand{
  display:flex;
  align-items:center;
  gap:14px}

.logo{
  font-size:2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:700}

.hamburger{
  font-size:28px}

.search{
  width:32vw;
  margin:0 24px;
  /* background:#f5f1ff; */
  border:3px solid #556B2F;
  border-radius:999px;height:48px;
  display:flex;
  align-items:center;
  padding:0 14px;
  gap:8px
}
.sent-alert{
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #cdbbff;
  color: black;
  padding: 14px 28px;
  border-radius: 15px;
  border: #8562E5 solid 2px;
  box-shadow: 0 2px 12px #0002;
  z-index: 2000;
  font-weight: 600;
  font-size: 1rem;
  transition: opacity 0.3s;
}
.search .icon{
  opacity:.6}

.search input{
  border:0;
  background:transparent;
  outline:0;
  width:100%}

.right-utilities{
  display:flex;
  align-items:center;
  gap:10px}

.view-toggle{
  display:flex;
  gap:8px;
  border:2px solid #556B2F;
  padding:4px 6px;
  border-radius:40px}

.view-toggle button{
  width:36px;
  height:30px;
  border-radius:80px}

.view-toggle button.active{
  background:#556B2F;
  color:white}

.content{
  display:grid;
  grid-template-columns: 18% 82%;
  height:calc(100% - 64px);
  /* padding-top: 1vh; */
}
.mail-area{
  font-size: 12px;
  position: relative;
  flex:1;
  padding:0px 18px 12px 12px;
  overflow:auto
}
.toolbar{
  position: sticky;
  padding: 1vh;
  z-index:2;
  display:flex;
  width: 15%;
  gap:1vw;
  margin:0px 0 16px 1.5vw;
  border-radius:10px;
  background:#6daa022c;
  border-left:3px solid #556B2F;
}

.toolbar button{
  width:30px;
  height:36px;
  font-size:15px;
  }