.app-frame{
  display:flex;
  flex-direction:column;
  height:100%;
  background-color: white;
  overflow: hidden;
  scrollbar-width: thin;
}

.topbar{
  min-height:12vh;
  display:grid;
  grid-template-columns: 15% 60% 20%;
  column-gap: 2.5vw;
  align-items:center;
    /* background-color: #dbceff; */
  /* border-radius: 10px; */
  /* justify-content:space-between; */
  padding:0 1vw;
  border-bottom:1px solid #cdbbff;
}
.brand{
  display:flex;
  align-items:center;
  gap:14px}

.logo{
  font-size:2rem;
  font-weight:700}

.hamburger{
  font-size:28px}

.search{
  width:32vw;
  margin:0 32px;
  background:#f5f1ff;
  border:3px solid #987AEB;
  border-radius:999px;height:48px;
  display:flex;
  align-items:center;
  padding:0 14px;
  gap:8px
}
.sent-alert{
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #cdbbff;
  color: black;
  padding: 14px 28px;
  border-radius: 15px;
  border: #8562E5 solid 2px;
  box-shadow: 0 2px 12px #0002;
  z-index: 2000;
  font-weight: 600;
  font-size: 1rem;
  transition: opacity 0.3s;
}
.search .icon{
  opacity:.6}

.search input{
  border:0;
  background:transparent;
  outline:0;
  width:100%}

.right-utilities{
  display:flex;
  align-items:center;
  gap:10px}

.view-toggle{
  display:flex;
  gap:8px;
  background:#f5f1ff;
  border:2px solid var(--stroke);
  padding:4px 6px;
  border-radius:40px}

.view-toggle button{
  width:36px;
  height:32px;
  border-radius:80px}

.view-toggle button.active{
  background:#8562E5;
  color:white}

.content{
  display:grid;
  grid-template-columns: 20% 80%;
  height:calc(100% - 64px);
  /* padding-top: 1vh; */
}
.mail-area{
  font-size: 14px;
  position: relative;
  flex:1;
  padding:8px 18px 24px 12px;
  overflow:auto
}
.toolbar{
  position: sticky;
  padding: 1vh;
  top:8px;
  z-index:2;
  display:flex;
  width: 20%;
  gap:1vw;
  margin:8px 0 16px 1.5vw;
  border-radius:10px;
  background:#987AEB40;
  /* border:2px solid var(--stroke) */
}

.toolbar button{
  width:40px;
  height:36px;
  }